*{
    font-family: sans-serif;

}
p{
    color: white;
}

ol{
    color: white;
}
h1 {
    color: rgb(44, 170, 224);
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

h3 {
    color: rgb(1, 1, 121);
    text-align: center;
}

body{
    max-width: 700px;
    margin: 0 auto;
    background-color: black;
    text-decoration-color: blanchedalmond;
}

.left {
    color: rgb(14, 3, 118);
    text-align: left;
}
.centre {
    color:brown;
    text-align: center;
}
.right {
    color:chocolate;
    text-align: right;
}
.divider {
    background-color: azure;
    padding: 30px;
    margin: 30px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: black;
}

img {
    width: 20%;
    position: absolute;
    z-index: -1; */
}


p1{
    background-color: blue;
}
.divider2
{
    background-color: darkgray;
    text-align: center;
}